* {
    box-sizing: border-box;
}

.topo {
    width: 375px;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
}

h1 {
    color: #E8833A;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.frase {
    width: 375px;
    height: 110px;
    margin-top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #293845;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.catalogo {
    width: 375px;
    height: 700px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.moldura {
    width: 145px;
    height: 209px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.movie {
    width: 129px;
    height: 193px;
    margin-bottom: 27px;
    margin-top: 27px;
}

.chooseSection {
    background-color: red;
}

.corpo {
    width: 375px;
    height: 333px;
    margin-top: 0;
    overflow-y: scroll;
}

h3 {
    color: #293845;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: start;
    margin-top: 22px;
    margin-bottom: 23px;
}

.hora {
    background-color: #E8833A;
    width: 83px;
    height: 43px;
    border-radius: 3px;
}

h4 {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.barraInferior {
    background-color: #9EADBA;
    width: 375px;
    height: 117px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.moldura2 {
    width: 64px;
    height: 89px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    background-color: #FFFFFF;
}

.movie2 {
    width: 48px;
    height: 72px;
}

h5 {
    color: #293845;
    font-size: 26px;
    margin-right: 118px;
}

.assentos {
    width: 375px;
    height: 300px;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.seat {
    color: #000000;
    font-size: 11px;
    background-color: #C3CFD9;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.status {
    width: 375px;
    height: 117px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

h7 {
    color: #4E5A65;
    font-size: 13px;
    margin-top: 3px;
}

.selecionado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disponivel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indisponivel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bolinhaSelecionado {
    background-color: #8DD7CF;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    border: 1px solid #1AAE9E;
}

.bolinhaDisponivel {
    background-color: #C3CFD9;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
}

.bolinhaIndisponivel {
    background-color: #FBE192;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    border: 1px solid #F7C52B
}

.cadastrar {
    width: 375px;
    height: 330px;
}

.nome {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.cpf {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 57px;
}

h8 {
    color: #293845;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

input {
    width: 327px;
    height: 51px;
    margin-bottom: 5px;
    border-radius: 3px;
}

::placeholder {
    color: #AFAFAF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    background-color: #E8833A;
    width: 225px;
    height: 42px;
    border-radius: 3px;
    margin-left: 72px;
}

h9 {
    color: #FFFFFF;
    font-size: 18px;
}
.separar {
    display: flex;
    flex-direction: column;
        margin-left: 5px;
}
.separar2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}